.card-grid-wrapper {
  margin: 0 auto;
  clear: both;
  position: relative;

  .card-grid-card {
    position: absolute;
    top: 0;
    left: 900px;
    display: block;
    //cursor: pointer;

  }

  @media (max-width: 768px) {
    width: 100% !important;

    .card-grid-card {
      position: relative !important;
      top: auto !important;
      left: auto !important;
      display: block !important;
      width: auto !important;
      margin-bottom: 10px !important;
    }
  }
}